@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded edges */
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track color */
}
.rgba {
  background-color: rgba(0, 0, 0, 0.208);
}
